@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #DA99FF, #BE4DFF);
}

main {
    background-color: white ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5f268070;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #983DCC;
    text-align: center;
    text-shadow: 1px 1px 2px #6D4D80;
}

h2 {
    color:#6D4D80 ;
}

p {
    color: #5F2680;
    text-align: justify;
}